@import url('https//fonts.googleapis.com/css2?family=Jockey+One&display=swap');
.cabecalho{
    background-color: #B31312;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.titulo{
    font-family:  Jockey One;
    font-weight: 400;
    font-style: normal;
    color:#FFFFFF ;
    font-size: 96px;
    
}
.imagem_cabecalho_pinterest{
    width: 190px

}
.finalidade{
    background-image: linear linear-gradient(#EFBBBB
    #FDFDFD) ;
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    padding-top: 110px ;
    padding-bottom: 110px ;
}
.imagemfinalidade{
    width: 300px ;
    height: 340px ;
    font-family: 300px ;
    font-weight: 400px ;
    font-size: 200 px ;
    font-style: normal ;
    text-align: justify;
    color: #2B2A4C;
    width: 70px ;
}
.inspiraçao {
    background-color: #2B2A4C;
    padding-top: 7px;
    padding-bottom: 100px;
}
.inspiraçao_titulo {
    font-family: 140px;
    font-weight: 74px;
    font-size: 100px;
    font-style: normal;
    color:#B31312 ;
    text-align: 100px;
    margin-left: 140px;
    margin-top: 40px;

}
.inspiraçao_imagem {
    margin: 90px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.rodape {
    
}
.links {
    color:
    #B31312 ;
    font-family: ;
    font-weight: ;
    font-size: ;
    font-style:normal ;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: ;

}
a {
    color: beige ;
    text-decoration: none;
}
a :hover {
    color: #EFBBBB;
    text-decoration: underline;

}


